.header{
    background-color: #6667AB;
    margin-left: 0px;
    height: 50px;
    padding: 3vh;
}

.titleBar{
    height: 15vh;
}

.title{
    float: left;
    height: 10vh;
    width: 50%;
    /*margin-left: 3vw;
    margin-right: 0px;*/
    margin-right: 0;
    vertical-align: middle;
}

.mypagebtnwrap{
    float: right;
    width: 50%;
    height: 10vh;
}

.mypagebtn{
    float: right;
    vertical-align: middle;
}

.titletext{
    margin:0;
    text-align: left;
    
}