.header{
    background-color: #6667AB;
    margin-left: 0px;
    height: 12vh;
    padding: 3vh;
}

.title{
    display: inline-block;
    float: left;
    width: 40vw;
    margin-right: 0;
    vertical-align: middle;
    text-align: left;
}

.mybtnwrap{
    display: inline-block;
    float: right;
    width: 40vw;
    vertical-align: middle;
}

.mybtn{
    float: right;
}

.titletext{
    margin:0;
    text-align: left;
    color: black;
}
