.header{
    background-color: #6667AB;
    margin-left: 0px;
    height: 12vh;
    padding: 3vh;
}

.title{
    display: inline-block;
    float: left;
    width: 40vw;
    margin-right: 0;
    vertical-align: middle;
    text-align: left;
}

.mybtnwrap{
    display: inline-block;
    float: right;
    width: 40vw;
    vertical-align: middle;
}

.mybtn{
    float: right;
    margin-right: 10px;
}

.mybtn1{
    float: right;
}

.titletext{
    margin:0;
    text-align: left;
    color: black;
}

.css-2s90m6-MuiAvatar-root{
    margin-right:15px;
}

.css-i4bv87-MuiSvgIcon-root{
    margin-top: 12px;
}

.circle{
    padding: 75px 0px; 
    background-color: #2196F3; 
    border-radius: 50%; 
    text-align: center; 
    color: #BBDEFB;
}