.logoImg{
    color: white;
    height: 300px;
}

.logoImg:hover ~.cursor{
    transform: scale(3);
}

.cursor{
    width: 50px;
    height: 50px;
    background-color: white;
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
}

.homepage{
    background-color: black;
    height: 100vh;
}

.loginTable{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.tableItem{
    padding: 10px;
}

.homeText{
    display: inline-block;
    color: white;
}

.loginBtn{
    margin-right: 10px;
    margin-left: 10px;
    width: 5vw;
    height: 5vh;
}

.signupBtn{
    margin-right: 10px;
    margin-right: 10px;
    width: 5vw;
    height: 5vh;
}